---
layout: default
top:  阳志平的个人网站::技术
feed: /feed
---

<div id="header">
	{% include nav-tech.html %}
</div>

<div id="page">

  <h1 class="emphnext">{{ page.title }}</h1>

{{ content }}
<p>
本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">知识共享署名-非商业性使用-禁止演绎 3.0 Unported许可协议</a>进行许可。
</p>

 <address class="signature">  
    <span class="date"> {{ page.date | date_to_long_string }}</span>
    <span class="author">
<!-- JiaThis Button BEGIN -->
	<div id="ckepop">
		<span class="jiathis_txt">分享到：</span>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_tqq"></a>
		<a class="jiathis_button_renren"></a>
		<a class="jiathis_button_instapaper"></a>
		<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
	</div>
	<script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
	<!-- JiaThis Button END -->
	</span>
  </address>
</div>
<!-- End Page -->
<!-- Delicious hits
<script type="text/javascript">
    if (typeof window.Delicious == "undefined") window.Delicious = {};
    Delicious.BLOGBADGE_DEFAULT_CLASS = 'delicious-blogbadge-line';
</script>
<script src="http://static.delicious.com/js/blogbadge.js"></script>
-->


<!-- Discus Comments -->
<div id="disqus_thread"></div>

<!-- Enable Disqus comments -->
<script type="text/javascript">
	var disqus_iframe_css = "http://www.yangzhiping.com/files/css/screen.css";
	var disqus_title = "{{ page.title }}";
	var disqus_message = "{{ page.excerpt }}";
</script>
<script type="text/javascript" src="http://disqus.com/forums/ouyang/embed.js"></script>

<noscript>